<div class="iq-classtoggler" data-align="{{alignment}}">
  <a data-toggle="{{target}}" data-scroll-lock="{{scrolllock}}" data-class="{{classname}}" title="{{tooltip}}">
    <div></div>
    <div></div>
    <div></div>
  </a>
</div>
