<div class="row iq-slider iq-row" data-slick='{"autoplay": {{autoplay}}, "infinite": {{loop}}}' data-duration="{{duration}}" data-speed="{{speed}}" data-arrow-left="{{arrowleft}}" data-arrow-right="{{arrowright}}" data-navigation="{{navigation}}">
  <div class="col iq-column">{{column0}}</div>
</div>
