<div class="row iq-slider iq-row" >
  <div class="col iq-column" {% if autoplay|render == "1" %}data-autoplay="{{autoplay}}"{% endif %} {% if loop|render == "1" %}data-loop="{{loop}}"{% endif %} data-duration="{{duration}}" data-speed="{{speed}}" data-arrow-left="{{arrowleft}}" data-arrow-right="{{arrowright}}" data-navigation="{{navigation}}" >{{column0}}</div>
</div>
