<div class="iq-fa-icon" data-align="{{alignment}}">
    {% if href %}
    <a href="{{href}}" title="{{text}}" target="{{target}}" >
        <i class="{{fa}}"></i>
    </a>
    {% else %}
    <i class="{{fa}}"></i>
    {% endif %}
</div>
