<div class="iq-image" data-align="{{alignment}}">

  {% if lightbox|render == 'lightbox' %}
    <a href="{{img['img_original']}}" data-toggle="{{lightbox}}-single-image"  data-max-width="1920" data-title="{{image_alt}}">
  {% else %}
    {% if href|render is not empty %}
      {# <a href="{{href}}" title="{{title_link}}" target="{{link_target}}"> #}
      <a href="{{href}}" title="{{title_link}}" target="{{link_target}}" {% if target|render == '_blank' %}rel="nofollow noopener"{% endif %}>
    {% endif %}
  {% endif %}

  {% include '@iq_barrio/includes/responsive-image.html.twig' with {
    'image' : image_img,
    'sizes': sizes,
    'template': image_template|render,
    'attributes' : {
      title: image_title|render,
      alt: image_alt|render
    }
  } %}

  {% if lightbox|render == 'lightbox' or href|render is not empty %}
    </a>
  {% endif %}
</div>
