<div class="iq-catalog-item">
  <a href="{{product_link}}">
    <div class="img-holder"><img src="{{product_img}}" title="{{product_title}}"
        alt="{{product_title}}" /></div>
    <span class="title">{{product_title}}</span>
  </a>

  {{content}}
</div>
