<div class="iq-search" data-align="{{alignment}}" data-icon-position="{{icon_position}}" >
    <form action="{{href}}" target="{{target}}" {% if target|render == '_blank' %}rel="nofollow noopener"{% endif %}>

        {% if input_visibility|render == "show_input" %}
            <div class="search-inputs">
                {% if icon_position|render == 'left' and submit_icon|render is not empty %}<button type="submit" class="search-submit"><i class="{{submit_icon}}"></i></button>{% endif %}
                <input type="text" autocomplete="off" name="{{name}}" placeholder="{{placeholder}}" />
                {% if icon_position|render == 'right' and submit_icon %}<button type="submit" class="search-submit"><i class="{{submit_icon}}"></i></button>{% endif %}
            </div>
        {% else %}
            {% if icon_position|render == 'left' and submit_icon|render is not empty %}<a data-toggle-search class="search-show"><i class="{{submit_icon}}"></i></a>{% endif %}
            {% if icon_position|render == 'right' and cancel_icon|render is not empty %}<a data-toggle-search class="search-cancel"><i class="{{cancel_icon}}"></i></a>{% endif %}
            <div class="search-inputs toggable">
                {% if icon_position|render == 'left' and submit_icon|render is not empty %}<button type="submit" class="search-submit"><i class="{{submit_icon}}"></i></button>{% endif %}
                <input type="text" autocomplete="off" name="{{name}}" placeholder="{{placeholder}}" />
                {% if icon_position|render == 'right' and submit_icon|render is not empty %}<button type="submit" class="search-submit"><i class="{{submit_icon}}"></i></button>{% endif %}
            </div>
            {% if icon_position|render == 'right' and submit_icon|render is not empty %}<a data-toggle-search class="search-show"><i class="{{submit_icon}}"></i></a>{% endif %}
            {% if icon_position|render == 'left' and cancel_icon|render is not empty %}<a data-toggle-search class="search-cancel"><i class="{{cancel_icon}}"></i></a>{% endif %}
        {% endif %}
    </form>
</div>
