<div class="iq-document iq-text" data-align="{{alignment}}">
    <a href="{{document}}" title="{{title}}" target="{{target}}" {% if target|render == '_blank' %}rel="noopener"{% endif %}>
        {{text}}
    </a>
</div>
